@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
body {font-family: 'Source Sans Pro', sans-serif; margin: 0; padding: 0; color: #000; font-size: 17px;background-color: #fff;}
a {text-decoration: none; color: #ee4d2d;}

/* Navigation Button */
.nav {display: flex; gap: 5px; background: #fff; width: 100%; flex-direction: row; align-items: center; justify-content: space-between; position: absolute; top: 0; left: 0; right: 0; z-index: 9999; box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;}
.nav a {padding: 5px 15px; font-size: inherit;}
.nav a .bi {font-size: x-large; text-align: center; margin-right: 5px; vertical-align: middle;}
.nav a span {display: inline; color: #000;}
.nav .n-a-4 {display: none;}

@media (max-width: 768px) {
  .nav {
    flex-wrap: nowrap; /* Evita que los íconos se envuelvan en múltiples líneas */
    justify-content: center; /* Centra los íconos horizontalmente */
  }
  .nav a {
    flex: 0 1 25%; /* Establece el ancho de cada ícono al 25% del contenedor */
    max-width: 25%; /* Establece el ancho máximo para evitar que los íconos se estiren demasiado */
  }
  .nav a .bi {
    font-size: large; /* Reduce el tamaño de los íconos */
  }
}


/* Search Box */
.search {position: absolute; top: 95px; left: 15px; right: 15px; background: #ffffff40; color: #fff; border-radius: 5px; z-index: 999; padding: 10px; vertical-align: middle; cursor: text; font-size: inherit;}
.search:after {content: '\F52A'; font-family: Bootstrap-Icons; margin: 2px 0 0; float: right; font-weight: bold;}
.search:hover {background: #ffffff73;}

/* Carousel Image */
.easyslider {overflow: hidden; position: relative; width: 100%; height: 300px; margin: 60px 0 20px; background: #ee4d2d;}
.image_reel {position: absolute; top: 0; left: 0;}
.image_reel img {float: left; width: 20%; height: 300px; overflow: hidden; object-fit: cover;}
.paging {background: none; position: absolute; bottom: 20px; right: 15px; z-index: 100; display: none;}
.paging a {margin: 2px; background: #fff; width: 10px; height: 10px; display: inline-block; border-radius: 50px;}
.paging a.active {width: 20px;}
.easytitledes {display: none; position: absolute; bottom: 0; left: 0; right: 0; z-index: 99; padding: 10px 15px; background: linear-gradient(180deg,transparent 65%,rgba(238, 69, 45, .80) 95%); width: 100%; height: 100%;}
.easytitledes a {position: absolute; bottom: 20px; color: #fff; font-weight: bold; font-size: xx-large; max-width: 65%; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; overflow: hidden; z-index: 999;}

/* Menu Button */
.menu {max-width: 100%; overflow-y: auto; white-space: nowrap; margin: 0 0 10px; padding: 0 12px;}
.menu .m-a {display: inline-block; padding: 10px; color: #000; margin: 0 3px; border: 1px solid #bbb; border-radius: 5px; width: 100%; max-width: 150px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; font-size: large;}
.menu .m-a:hover {border: 1px solid #ee4d2d;}
.menu .m-a .bi {display: block; margin-right: 10px; color: #ee4d2d; font-size: 25px; vertical-align: middle;}

/* Flash Sale Box */
.fsale {background: #ee4d2d; color: #fff; margin: 20px 0 15px; padding: 10px 0 25px;}
.fsale h3 {margin: 5px 15px 10px; padding: 0; text-transform: uppercase; overflow: hidden;}
.fsale h3 .bi {vertical-align: middle;}
.fsale #date {float: right; font-size: small; font-weight: normal; text-transform: capitalize; margin: 3px 0 0;}
.fsale .fsale-page {max-width: 100%; overflow-y: auto; white-space: nowrap; display: flex; align-items: center; gap: 10px;}
.fsale-box {position: relative; display: inline-block; padding: 15px 10px 10px; background: #fff; color: #000; margin: 0; border-radius: 5px; width: 100%; max-width: 200px; min-width: 200px; overflow: hidden; cursor: pointer;}
.fsale-box:first-child {margin-left: 15px;}
.fsale-box:last-child {margin-right: 15px;}
.fsale-box .tag {position: absolute; right: 0; z-index: 99; color: #fff; background: #ee4d2d; border-radius: 50px; font-size: inherit; padding: 5px 7px; margin: -10px 5px;}
.fsale-box img {display: block; width: auto; height: 100px; border-radius: 5px;}
.fsale-box .name {padding: 0; margin: 10px 0 0; font-size: inherit; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.fsale-box .price {padding: 0; margin: 0; font-size: inherit; font-weight: bold; color: #ee4d2d; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.fsale-box .link-all {width: 100%; height: 100%; display: block; font-weight: bold; text-align: center; color: #fff;}
.fsale-box .link-all:hover {opacity: 0.7;}
.fsale-box .link-all .bi {display: block; font-size: 60px;}

/* Category Button */
.category {max-width: 100%; overflow-y: auto; white-space: nowrap; margin: 0 0 10px; padding: 0 12px;}
.category .c-a {display: inline-block; padding: 10px; color: #000; margin: 0 3px; border: 1px solid #bbb; border-radius: 5px; width: 100%; max-width: 150px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; font-size: large;}
.category .c-a:hover {border: 1px solid #ee4d2d;}
.category .c-a .bi {display: inline; margin-right: 10px; color: #ee4d2d; font-size: 25px; font-weight: bold; vertical-align: middle;}

/* Product Box */
.title {margin: 15px; text-transform: uppercase; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.title .bi {vertical-align: middle;}
.title .link {float: right; text-transform: capitalize; font-weight: normal; font-size: small; margin: 3px 0 0; padding: 0 5px; border: 1px solid #ee452d; border-radius: 3px;}
.product-box {display: grid; grid-template-columns: repeat(4, 1fr); grid-gap: 10px; margin: 15px 15px 20px; padding: 0;}
.product-box .product {position: relative; background: #fff; color: #000; border: 1px solid #bbb; border-radius: 5px; padding: 15px 10px 10px; overflow: hidden;}
.product-box .product:hover {border: 1px solid #ee4d2d;}
.product .tag {position: absolute; right: 0; z-index: 99; color: #fff; background: #ee4d2d; border-radius: 50px; font-size: inherit; padding: 5px 7px; margin: -10px 5px;}
.product img {display: block; width: auto; height: 100px; border-radius: 5px;}
.product .name {padding: 0; margin: 10px 0 0; font-size: inherit; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.product .price {padding: 0; margin: 0; font-size: inherit; font-weight: bold; color: #ee4d2d; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.product .sold {padding: 0; margin: 5px 0 0; font-size: small; color: #777; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; overflow: hidden;}
.product .sold:before {content: '\00B1'; margin-right: 3px;}
.product .sold:after {content: '\F417'; font-family: Bootstrap-Icons; margin: 0 1px 0 5px; float: right; background: #eee; padding: 3px 2px 1px; border-radius: 50px;}


.additional-images-container {
    float: right;
    margin-top: -150px; /* Ajusta el margen superior según sea necesario */
    margin-right: 15px; /* Margen derecho para separar las imágenes del contenido principal */
}

.n-a-1 {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
}

.n-a-1 img {
    margin-right: 10px; /* Añade un espacio entre la imagen y el texto */
}


.container1 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}
.header1 {
  padding: 20px 0;
}
.header1 h1 {
  margin: 0;
  padding: 0;
}
.subtitle1 {
  font-size: 18px;

  margin-bottom: 20px;
}
.content1 {
  display: flex;
  justify-content: space-between;
}
.text1 {
  flex: 1;
  padding: 0px;
  margin-top: -5px;
}

.text1 p{
  flex: 1;
  padding: 0px;
  margin-top: -8px;
  text-shadow: 0px 0px 0.5px rgba(0, 0, 0, 0.2);  /* Agrega sombra al texto */
  text-align: justify;
  font-size: 17.5px; /* Tamaño de letra en píxeles, ajusta según sea necesario */

}
.image1 {
  width: 40%;
  padding: 20px;
  margin-top: -20px; /* Ajusta el margen superior según tus necesidades */
  margin-left: 55px; /* Ajusta el margen izquierdo según tus necesidades */
}
.image1 img {
  width: 100%;
  height: auto;
  border: 3.5px solid #000; /* Agregado borde negro de 2 píxeles */
}

.product-container {
    display: flex;
    margin: 200px;
    padding: 50px;
    border: 3px solid #ccc;
    margin-top: 0px;
    max-width: 950px; /* Establece la anchura máxima del contenedor */
}

.product-container img {
    width: 570px; /* Ajusta el ancho de la imagen según sea necesario */
    height: 370px;
    margin-right: -90px;
}

.product-details {
    flex: 1;
}

.product-details h3 {
    font-size: 18px;
    margin-bottom: 10px;
    font-size: 26.3px; /* Ajusta el tamaño según sea necesario */
}

.product-details p {
    margin: 5px 0;
    text-align: justify;
}

.product-details p.precios {
    display: flex;
    align-items: center;
}

.product-details span.precio-83 {
    color: #000; /* Color para el precio $83.50 */
    font-weight: bold;
    text-decoration: line-through;
    font-size: 25px;
    margin-top: -20px;

}

.product-details span.precio-110 {
    color: red; /* Color para el precio $110.50 */
    font-weight: bold;
    font-size: 35px;
    margin-left: 40px;
    margin-top: -20px;
}

.product-details p.informativo {
    margin-top: -11px; /* Ajusta la cantidad de espacio deseada */
}

/* Animacion Descuentos*/
@keyframes agrandarReducir {
    0% {
      transform: scale(1); /* Escala inicial (normal) */
    }
    50% {
      transform: scale(1.1); /* Escala a 120% a la mitad de la animación */
    }
    100% {
      transform: scale(1); /* Vuelve a la escala normal al final de la animación */
    }
  }
  
  /* Aplica la animación a la clase animation-precio */
  .animation-precio {
    animation: agrandarReducir 2s infinite; /* Duración de la animación: 2 segundos, infinito para que se repita */
  }

  .contact {
    background-image: url('../imagenes/Fondito.png');
    color: #fff;
    padding: 1px 0px;
    margin-top: -20px;
}

.contact-content {
  display: flex;
  align-items: center; /* Para centrar verticalmente los elementos */
}

.logo-container {
  flex-shrink: 0; /* Para que el contenedor de la imagen no se contraiga */
  margin-right: 20px; /* Espaciado entre la imagen y el texto */
}

.logo-container {
  margin-right: 225px;
  margin-left: 30px;
}

.texto-container {
  margin-right: 205px;
}

/* Estilos para pantallas más pequeñas */
@media only screen and (max-width: 768px) {
  .contact-content {
    flex-direction: column; /* Cambia la dirección del flexbox a column para dispositivos móviles */
  }

  .logo-container {
    margin-bottom: 20px; /* Espaciado entre la imagen y el texto en dispositivos móviles */
    margin-right: 0px; /* Elimina el margen derecho en dispositivos móviles */
  }

  .texto-container {
    margin-top: -25px; /* Ajusta el margen superior para separar los iconos del texto */
    margin-right: 0px; /* Elimina el margen derecho en dispositivos móviles */
  }

  .social-icons-container {
    margin-top: 4px; /* Ajusta el margen superior para separar los iconos del texto */
    text-align: center; /* Centra los iconos */
  }
}

.container {
  text-align: center;
  align-items: center; /* Centra verticalmente los elementos */

}

.container h2{
  text-shadow: 4px 1px 4px rgba(0, 0, 0, 0.9);  /* Agrega sombra al texto */
}

.container p{
  text-shadow: 4px 1px 4px rgba(0, 0, 0, 0.9);  /* Agrega sombra al texto */
}

.solicitar-factura {
  color: white;
  text-decoration: none;
  font-size: 1.5em; /* Ajusta el tamaño según sea necesario */
  padding: 10px; /* Espaciado interno */
  border-radius: 5px; /* Ajusta el radio de borde según sea necesario */
  text-shadow: 4px 1px 4px rgba(0, 0, 0, 0.5);  /* Agrega sombra al texto */
}

.solicitar-factura:active{
  color: white; /* Cambia el color de texto al hacer clic */
  border-bottom: 4px solid red; /* Agrega una línea inferior al hacer clic */
}

.solicitar-factura:hover{
  color: white; /* Cambia el color de texto al pasar el ratón */
  border-bottom: 4px solid red; /* Agrega una línea inferior al pasar el ratón */
}

.logo {
  width: 350px; /* Ajusta el ancho del logo según sea necesario */
  height: 105px; /* La altura se ajusta automáticamente para mantener la proporción original */
  margin-top: 0px;
  margin-left: -20px;
  border-radius: 10px;
}

.social-icon {
font-size: 3em; /* Ajusta el tamaño según sea necesario */
margin-right: 20px; /* Ajusta el margen entre los iconos según sea necesario */
margin-bottom: 50px; /* Agregado margen inferior para separar de la imagen de abajo */
}

 /* Estilo específico para el icono de Facebook */
.bi-facebook {
    color: #1877f2; /* Color de Facebook */
    background-color: #fff; /* Relleno blanco */
    border-radius: 50%; /* Borde redondeado para un aspecto más suave */
    padding: 8px; /* Espaciado interno */
  }
  
  /* Estilo específico para el icono de Instagram */
  .bi-instagram {
    color: #e4405f; /* Color de Instagram */
    background-color: #fff; /* Relleno blanco */
    border-radius: 50%; /* Borde redondeado para un aspecto más suave */
    padding: 8px; /* Espaciado interno */
  }
  
  /* Estilo específico para el icono de WhatsApp */
  .bi-whatsapp {
    color: #25d366; /* Color de WhatsApp */
    background-color: #fff; /* Relleno blanco */
    border-radius: 50%; /* Borde redondeado para un aspecto más suave */
    padding: 8px; /* Espaciado interno */  }

    .white-container {
        padding: 20px; /* Espaciado interno */
        margin-left: 950px; /* Margen a la derecha del contenedor (ajusta según sea necesario) */
        margin-right: 35px;
        margin-top: -125px;
        background-color: #fc7a00;
        border: 2px solid #ee4d2d; /* Agregado borde negro de 2 píxeles */

    }
    
    .white-container p {
        margin-bottom: 10px; /* Ajusta según sea necesario */
        color: white;
        padding: 2px 20px;
        font-weight: bold; /* Texto en negritas */
        font-size: 17.5px; /* Tamaño de letra en píxeles, ajusta según sea necesario */
        text-shadow: 4px 1px 4px rgba(0, 0, 0, 0.9);  /* Agrega sombra al texto */

    }

    .white-container form input[type="email"] {
        width: 250px; /* Ajusta el ancho según sea necesario */
        padding: 10px; /* Ajusta el relleno según sea necesario */
        border-radius: 15px; /* Hace que los bordes sean más redondos */
        border: 4px solid #ccc; /* Agrega un borde para mayor visibilidad */
    }

    .white-container .form-container {
        display: flex;
        align-items: center; /* Centra verticalmente los elementos en el contenedor */
    }
    
    .white-container form input {
        padding: 10px;
        margin-right: 10px; /* Espaciado a la derecha del input */
    }
    
    .white-container form button {
        padding: 8px 16px; /* Tamaño diferente para el botón */
        border: none;
        border-radius: 15px;
        background-color: #777;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    /* Efecto de animación al pasar el ratón */
    .white-container form button:hover {
        background-color: #ee4d2d;
    }

    /**/
    .white-container2 {
        padding: 20px; /* Espaciado interno */
        margin-right: 950px; /* Margen a la derecha del contenedor (ajusta según sea necesario) */
        margin-left: 35px;
        margin-top: -150px;
        background-color: #fc7a00;
        border: 2px solid #ee4d2d; /* Agregado borde negro de 2 píxeles */

    }
    
    .white-container2 a {
        margin-bottom: 10px; /* Ajusta según sea necesario */
        color: white;
        padding: 2px 20px;
        font-weight: bold; /* Texto en negritas */
        font-size: 17.5px; /* Tamaño de letra en píxeles, ajusta según sea necesario */
        text-shadow: 4px 1px 4px rgba(0, 0, 0, 0.9);  /* Agrega sombra al texto */
        text-decoration: none; /* Elimina el subrayado predeterminado de los enlaces */
        transition: color 0.3s ease, border-bottom 0.3s ease; /* Agrega transición al color de texto y al subrayado */
        border-bottom: 2px solid transparent; /* Línea inferior transparente por defecto */
    }

    .white-container2 a:hover {
        color: #ccc; /* Cambia el color de texto al pasar el ratón */
        border-bottom: 2px solid #ee4d2d; /* Agrega una línea inferior al pasar el ratón */
    }
    
    .white-container2 a:active {
        color: white; /* Cambia el color de texto al hacer clic */
        border-bottom: 2px solid #ff6347; /* Agrega una línea inferior al hacer clic */
    }

    

/* Back to Top Button */
#myTop {display: none; position: fixed; bottom: 10px; right: 10px; z-index: 999; font-size: x-large; border: none; cursor: pointer; color: #ee4d2d; background: #fff; border-radius: 50%; padding: 5px 6px 4px; box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;}
#myTop:hover {background: #ee4d2d; color: #fff;}

/* Snackbar */
#snackbar {visibility: hidden; min-width: 200px; background-color: #333; color: #fff; text-align: center; border-radius: 5px; padding: 15px; position: fixed; z-index: 999; left: 50%; transform: translate(-50%, -50%); bottom: 30px; font-size: inherit;}
#snackbar.show {visibility: visible; -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s; animation: fadein 0.5s, fadeout 0.5s 2.5s;}
@-webkit-keyframes fadein {from {bottom: 0; opacity: 0;} to {bottom: 30px; opacity: 1;}}
@keyframes fadein {from {bottom: 0; opacity: 0;} to {bottom: 30px; opacity: 1;}}
@-webkit-keyframes fadeout {from {bottom: 30px; opacity: 1;} to {bottom: 0; opacity: 0;}}
@keyframes fadeout {from {bottom: 30px; opacity: 1;} to {bottom: 0; opacity: 0;}}

/* Modal Information */
#button-modal {display: block; margin: 0 auto 20px; text-align: center; font-size: inherit; cursor: pointer;}
#button-modal:hover {color: #ee4d2d;}
.modal {display: none; position: fixed; z-index: 99999; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; overflow: auto; background-color: rgba(0, 0, 0, 0.2);}
.close-modal {background: #bbb; height: 4px; width: 50px; border-radius: 10px; margin: auto; cursor: pointer;}
.modal-content {position: absolute; bottom: 0; left: 0; right: 0; overflow: auto; text-align: left; margin: 0; padding: 15px; width: 100% auto; max-height: 200px; border-radius: 20px 20px 0 0; background: #fff; color: #000; word-break: break-all; font-size: inherit;}
.modal-content span {display: block; font-size: small;}

@media only screen and (max-width: 650px) {
  body {font-size: 15px;  padding: 0 0 40px;}
  .nav {gap: 20px; justify-content: center; position: fixed; top: auto; bottom: 0; left: 0; right: 0; z-index: 9999;}
  .nav a span {display: none;}
  .nav a .bi {margin-right: 0;}
  .nav .n-a-1, .nav .n-a-2, .nav .n-a-3 {display: none;}
  .nav .n-a-4 {display: inline;}
  .search {top: 20px;}
  .easyslider {height: 250px; margin: 0 0 20px;}
  .image_reel img {height: 250px;}
  .paging {bottom: 10px; right: 15px;}
  .paging a {width: 7px; height: 7px;}
  .easytitledes {background: linear-gradient(180deg,transparent 65%,rgba(238, 69, 45, .80) 85%);}
  .easytitledes a {font-size: medium; -webkit-line-clamp: 2; width: 50%; bottom: 15px;}
  .menu .m-a {max-width: 70px; font-size: small; padding: 5px 10px; border: none; vertical-align: top; padding: 0; background: none;}
  .menu .m-a:hover {border: none; opacity: 0.7;}
  .menu .m-a .bi {display: block; margin-right: 0; font-size: 20px;}
  .category .c-a {max-width: 70px; font-size: medium; padding: 5px 10px;}
  .category .c-a .bi {display: block; margin-right: 0; font-size: 20px;}
  .fsale-box {min-width: 120px;}
  .product-box {grid-template-columns: repeat(2, 1fr);}
  .title .link {margin: 2px 0 0;}
  .title {margin-top: -30px;}
  #myTop {bottom: 50px; font-size: large;}
  }
  
  @media only screen and (max-width: 650px) {
    /* Restablecer la visualización de todos los elementos del Navbar */
    .nav .n-a-2, .nav .n-a-3, .nav .n-a-4 {
      display: inline; /* Mostrar todos los elementos */
    }
  }

  @media only screen and (min-width: 769px) and (max-width: 970px) {

    .texto-container{
      margin-left: -190px;
    }
    .social-icon {
      font-size: 2.5em; /* Ajusta el tamaño de los iconos para pantallas medianas */
      margin-right: 115px; /* Ajusta el margen entre los iconos para pantallas medianas */
      margin-left: -110px;
      margin-bottom: -20px; /* Ajusta el margen inferior entre los iconos para pantallas medianas */
    }
  }
  .product-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 5px;
}

.product-container img {
    max-width: 100%; /* La imagen se ajustará al ancho del contenedor */
    height: auto; /* La altura se ajustará proporcionalmente */
    margin-bottom: 10px; /* Espacio entre la imagen y los detalles del producto */
}

.product-details {
    flex: 1; /* Los detalles del producto ocuparán el espacio restante */
}

.product-details p {
  margin-bottom: 20px; /* Agrega un espacio entre los párrafos */
}

.product-details .precios {
  margin-top: 50px; /* Agrega un espacio entre el párrafo anterior y los precios */
}

/* Estilos para pantallas más pequeñas */
@media (max-width: 768px) {
    .product-container {
        flex-direction: column; /* Cambia el diseño a una columna en dispositivos pequeños */
    }
}

/* Estilo peqiueño*/
@media (max-width: 1024px) {
  .product-container {
      width: 60%; /* Hace que el contenedor sea más grande */
      margin-left: 30px;
      margin-top: 0px;
      margin-bottom: 60px; /* Ajusta este valor según sea necesario */
  }

  .product-details {
      padding-left: 0; /* Elimina el espacio a la izquierda */
  }

  .product-container img {
    display: block;
    margin: 0 auto; /* Centra la imagen horizontalmente */
  }

}

/* Estilo Grande*/
@media (min-width: 1025px) {
  .product-details {
      margin-left: 100px; /* Ajusta este valor según sea necesario */
  }

  .product-container {
    margin-bottom: 60px; /* Ajusta este valor según sea necesario */
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .product-container {
    width: 60%; /* Ajusta este valor según sea necesario */
    margin: 5px auto; /* Centra el contenedor horizontalmente y agrega margen superior e inferior */
  }

  .contact {
    margin-top: 25px;
}
}

@media (min-width: 1280px) and (max-width: 1280px) and (min-height: 800px) and (max-height: 800px) {
  .product-container img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

@media (max-width: 414px) {
  .product-container {
    margin-bottom: 40px; /* Ajusta este valor según sea necesario */
  }

  .product-details {
    margin-bottom: -20px; /* Ajusta este valor según sea necesario */
  }
}


@media only screen 
  and (device-width: 430px) 
  and (device-height: 932px) 
  and (-webkit-device-pixel-ratio: 3) { 
    .product-container {
        margin-bottom: 60px; /* Ajusta este valor según sea necesario */
    }

    .product-details {
        margin-bottom: 10px; /* Ajusta este valor según sea necesario */
    }
}